@use "../abstracts/" as *;

.primary_btn {
  background-color: $nav-link-color;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 0.9rem;
  a {
    color: $title-color;
  }
  img {
    margin-left: 10px;
  }
}

.mt-r {
  margin-right: 20px;
}

// input[type="submit"] {
//     background-color: $color-primary;
//     color: #fff;
//     padding: 0.5rem 1rem;
//     border: 0;
//     cursor: pointer;
//     transition: background-color 300ms ease-in-out;
// }
// input[type="submit"]:hover {
//     background: $color-dark;
// }
