@use "../abstracts/" as *;

.btn-link {
  font-size: 0.875rem;
  background-color: $button-bg-color;
  color: $button-text-color;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  &::after {
    content: "";
    width: 6px;
    height: 6px;
    border-right: 1px solid $button-text-color;
    border-bottom: 1px solid $button-text-color;
    display: inline-block;
    transform: rotate(-45deg) translateY(-1px);
    margin-left: 0.4rem;
  }
}
