@use "../abstracts/" as *;

.process-item {
  border: 1px solid rgb(243, 243, 243);
  padding: 5px;
  border-radius: 5px;
  width: 379px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  .process-img {
    img {
      margin-top: 7px;
      width: 100%;
      border-radius: 5px;
    }
  }
  .process-title {
    display: flex;
    border-radius: 5px;
    padding: 10px 0 10px;
    font-size: 0.9rem;
    color: $subtitle-color;
    background-color: $divider-color;
    .process-title-num {
      font-size: 2rem;
      display: flex;
      width: 70px;
      align-items: center;
      justify-content: center;
    }
    .process-title-text {
      margin: 5px 0 5px;
    }
  }
  .process-title:hover {
    background: url("./../../img/header/header-bg.png");
    color: white;
  }
  .process-text {
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #efefef;
    padding: 13px;
    color: $text-color;
    font-size: 0.938rem;
    font-weight: 200;
  }
}

// .cards-wrapper {
//   display: grid;
//   grid-template-columns: 1fr;
//   gap: 1.5rem;
//   flex-grow: 1;

//   @include md {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// .single-card {
//   border: 1px solid $color-gray-light;
//   padding: 1.5rem;
//   background-color: #f4f4f4;

//   h5 {
//     text-transform: uppercase;
//     margin-top: 1.2rem;
//   }

//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;

//     a {
//       display: block;
//       position: relative;
//       color: $color-gray;
//       padding: 0.2rem 0 0.2rem 1rem;
//       transition: color 500ms ease-in-out;

//       &::before {
//         content: "";
//         display: inline-block;
//         width: 0;
//         height: 0;
//         border-top: 4px solid transparent;
//         border-left: 7px solid #010c80;
//         border-bottom: 4px solid transparent;
//         margin-right: 0.5rem;
//         position: absolute;
//         left: 0;
//         top: 9px;
//       }

//       &:hover {
//         text-decoration: none;
//         color: $color-primary;
//       }
//     }
//   }
// }
