@use "../abstracts/" as *;

.header-wrapper {
  position: relative;
  overflow: hidden;

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    padding: 1.5rem 0;

    &.scrolled {
      background-color: $color-dark-bd;
      padding: 1rem 0;
    }
  }

  .container {
    position: relative;
    z-index: 10;
  }

  .header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mobile-btn {
    flex-shrink: 0;
    width: 37px;
    height: 37px;
    cursor: pointer;

    @include lg {
      display: none;
    }
  }

  .nav-wrapper {
    margin-right: 2rem;
    display: none;
    @include lg {
      display: block;
    }
  }

  .logo img {
    width: 80px;
    height: auto;
    @include md {
      width: 100px;
    }
  }

  .open-cart {
    position: relative;

    svg {
      width: 27px;
      height: 27px;
    }
    .items-qty {
      position: absolute;
      top: -3px;
      right: -8px;
      width: 20px;
      background-color: $color-yellow;
      border-radius: 10px;
      color: $color-dark;
      text-align: center;
      line-height: 20px;
      font-size: 0.8rem;
    }
  }
}

.header-column {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0;
  margin: 0;

  & > li > a {
    display: block;
    padding: 0.5rem 0;
  }

  .header_lang {
    // display: none;
    // position: relative;
    // gap: 5px;
    // cursor: pointer;
    // display: flex;
    // align-items: center;

    // &::after {
    //   content: "";
    //   width: 6px;
    //   height: 6px;
    //   border-right: 1px solid #fff;
    //   border-bottom: 1px solid #fff;
    //   display: inline-block;
    //   transform: rotate(45deg) translateY(-4px);
    //   margin-left: 0.1rem;
    // }

    // &:hover .sub-menu {
    //   display: block;
    // }

    // .sub-menu {
    //   display: none;
    //   justify-content: center;
    //   position: absolute;
    //   top: 100%;
    //   left: 0;
    //   min-width: 60px;
    //   background-color: #ffffff;
    //   box-shadow: 0px 0px 0px black;
    //   z-index: 1;
    //   border-radius: 5px;
    //   padding: 0.5rem 0;
    //   margin: 0;
    //   a {
    //     color: $color-dark;
    //     display: block;
    //     text-align: center;
    //     padding: 0.5rem 1rem;
    //     text-transform: capitalize;
    //   }
    // }
  }

  .mobile-btn {
    width: 28px;
    height: 28px;
  }

  .header_shopcart {
    cursor: pointer;
  }
}

.hero {
  padding: 7rem 0 7rem 0;

  @include md {
    padding: 9rem 0 11rem 0;
  }

  @include lg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 11rem 0 11rem 0;
  }
  @include xl {
    padding: 14rem 0 14rem 0;
  }

  &__content {
    max-width: 590px;

    h1 {
      font-size: 1.8rem;
      text-transform: uppercase;
      color: $nav-primary-color;
      margin-bottom: 0;

      @include sm {
        font-size: 2.2rem;
      }
      @include md {
        font-size: 2.7rem;
      }
      @include lg {
        font-size: 3rem;
      }

      span {
        color: $nav-link-color;
      }
    }
    p {
      font-weight: 200;
      color: $header-text-color;
      line-height: 1.7rem;
      margin: 1.6rem 0 2.6rem 0;
    }

    .hero__btns {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

  &__img {
    display: none;

    @include lg {
      display: block;
    }
  }
}

// .header {
//   padding: 1.5rem 0;
//   border-bottom: 1px solid $color-gray-light;

//   .container {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   .custom-logo {
//     max-width: 130px;
//     height: auto;

//     @include lg {
//       max-width: 170px;
//     }
//   }

//   &__actions {
//     display: flex;
//     align-items: center;
//     gap: 1rem;
//   }

//   &__call-btn {
//     display: block;
//     background: $color-primary;
//     padding: 0.5rem;
//   }

//   .open-navi {
//     display: block;
//     width: 38px;
//     height: 38px;
//     color: $color-dark;
//     cursor: pointer;

//     @include lg {
//       display: none;
//     }
//   }
// }
