$color-primary: #010c80;
$color-dark: #252525;
$color-gray: #fa6565;
$color-gray-light: #d9d9d9;

//Colors
$nav-primary-color: #fff;
$nav-link-color: #fee715;
$text-color: #525252;
$title-color: #000000;
$section-light-color: #fff;
$section-gray-color: #f9f9f9;
$footer-bg-color: #14141f;
$dropdown-text-color: #14141f;
$dropdown-bg: #fff;
$header-text-color: #fff;
$subtitle-color: #000000;
$divider-color: #fee715;
