@use "../abstracts/media-query" as *;
@use "../abstracts/colors" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-main: "Inter", sans-serif;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: $font-main;
  font-size: 16px;
  line-height: 1.4;
  color: $text-color;
  background-color: $footer-bg-color;
}

p {
  margin: 0 0 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 0.875em 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

.container {
  padding: 0 15px;

  @include sm {
    width: 480px;
    margin: 0 auto;
  }
  @include md {
    width: 768px;
  }
  @include lg {
    width: 980px;
  }
  @include xl {
    width: 1200px;
  }
  // outline: 1px solid white;
}

ul {
  list-style: none;
}

.subtitle {
  font-size: 1.6rem;
  color: $subtitle-color;
  text-transform: uppercase;
  font-weight: 300;
}

.divider {
  background-color: $divider-color;
  width: 80px;
  height: 4px;
  margin: 15px 0 15px;
}

.section-light {
  background-color: $section-light-color;
}
.section-dark {
  background-color: $section-gray-color;
}

.sb {
  justify-content: space-between;
}

section {
  padding: 70px 0 70px;
}

button:active {
  transform: scale(0.98);
}

a {
  color: $nav-primary-color;
  text-decoration: none;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

// img {
//   display: block;
// }

//   &:hover {
//     text-decoration: underline;
//   }
// }

// p {
//   margin: 0 0 1rem 0;
// }

// h1 {
//   font-size: 1.6rem;
// }
// h2 {
//   font-size: 1.5rem;
// }
// h3 {
//   font-size: 1.3rem;
// }
// h4 {
//   font-size: 1.1rem;
// }
// h5 {
//   font-size: 0.95rem;
// }
// h6 {
//   font-size: 0.875rem;
// }

// label {
//   color: $color-dark;
// }

// input,
// textarea {
//   outline: 0;
// }

// input[type="text"],
// input[type="tel"],
// input[type="number"],
// input[type="email"] {
//   border: 1px solid $color-gray-light;
//   padding: 0.6rem 1rem;
//   width: 100%;
//   margin-top: 0.3rem;
//   color: $color-gray;
//   transition: all 0.3s;
// }
// input[type="text"]:focus,
// input[type="tel"]:focus,
// input[type="number"]:focus,
// input[type="email"]:focus {
//   border-color: $color-primary;
//   background-color: #f4f4f4;
// }

// textarea {
//   margin-top: 0.3rem;
//   border: 1px solid $color-gray-light;
//   padding: 0.6rem 1rem;
//   width: 100%;
//   color: $color-gray;
//   transition: all 0.3s;
// }
// textarea:focus {
//   border-color: $color-primary;
//   background-color: #f4f4f4;
// }

// .container {
//   padding: 0 1rem;
//   width: 100%;

//   @include sm {
//     width: 480px;
//     margin: 0 auto;
//   }
//   @include md {
//     width: 768px;
//   }
//   @include lg {
//     width: 980px;
//   }
//   @include xl {
//     width: 1200px;
//   }
// }

// .overlay.active {
//   background-color: rgba(0, 0, 0, 0.5);
//   position: absolute;
//   inset: 0;
//   z-index: 20;
//   cursor: pointer;
// }

// .main {
//   margin-top: 3rem;
// }
